body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #e4e4e4;
  }
  
  h1 {
    margin-top: 0px;
    color: #ffffff;
    background-color: #1100ff;
    padding: 10px 0;
  }
  
  .calculator {
    margin-top: 20px;
    display: inline-block;
    text-align: left;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  label, input, button {
    display: block;
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button#reset {
    background-color: #ff0000;
  }

  button:hover {
    background-color: #0056b3;
  }

  .button-container {
    display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
  
  #result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  
  #triangleImage {
    text-align: center;
    margin-top: 20px;
  }
  
  #triangleImage img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  